
<div class="d-flex min-vh-100 align-items-center justify-content-center bg-taurus">
    <div class="home-card">
      <h1 class="fw-bold text-center mb-4">Bienvenido a Taurus</h1>
  
      <div class="d-flex gap-1">
        <button
        class="btn btn-outline-primary btn-hover"
        routerLink="/carrusel"
        >Ir al Slider</button>
  
        <button
        class="btn btn-outline-secondary btn-hover"
        routerLink="/sheets"
        >Ir a Sheets</button>     
        
        <button
        class="btn btn-outline-dark btn-hover"
        routerLink="/overview"
        >Configurar Slider</button>
      </div>
      
  
    </div>
  
  </div>
  
  <!-- @if (isLoading) {
    <shared-loader></shared-loader>
  } -->